<a href="https://colab.research.google.com/github/cyrusss7016/Cyrush-Kushwaha/blob/main/Cognitive_Assignments_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80]. i. WAP to add 200 and 300 to L. ii. WAP to remove 10 and 30 from L. iii. WAP to sort L in ascending order. iv. WAP to sort L in descending order.

In [ ]:
L = [10,20,30,40,50,60,70,80]


L.append(200)
L.append(300)
print("after adding 200 and 300",L)


L.remove(10)
L.remove(30)
print("after removing 10 and 30",L)


L.sort()
print("after sorting L",L)

L.sort(reverse = True)
print("after sorting in descending order",L)

after adding 200 and 300 [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
after removing 10 and 30 [20, 40, 50, 60, 70, 80, 200, 300]
after sorting L [20, 40, 50, 60, 70, 80, 200, 300]
after sorting in descending order [300, 200, 80, 70, 60, 50, 40, 20]

Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‚Äò76‚Äô (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it‚Äôs not present.

In [ ]:

scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)


highest_score = max(scores)
highest_score_index = scores.index(highest_score)
print("The highest score is: ", highest_score)
print("The index of the highest score is: ", highest_score_index)

lowest_score = min(scores)
count_lowest_score = scores.count(lowest_score)
print("The lowest score is: ", lowest_score)
print("The count of the lowest score is: ", count_lowest_score)


reversed_scores = list(scores[::-1])
print("The reversed tuple is:", reversed_scores)


target_score = 76

The highest score is:  92
The index of the highest score is:  5
The lowest score is:  45
The count of the lowest score is:  2

TypeError: 'list' object is not callable

WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [ ]:
import random

numbers = [random.randint(100,900) for _ in range(100)]


def is_prime(n):
  if n<= 1:
    return False
  for i in range(2,int(n**0.5)+1):
    if n % i ==0:
      return False
  return True


odd_numbers = []
even_numbers = []
prime_numbers = []

for num in numbers:
  if num % 2 == 0:
    even_numbers.append(num)
  else:
    odd_numbers.append(num)

  if is_prime(num):
    prime_numbers.append(num)

print("list of random numbers:",numbers)
print("even numbers :",even_numbers)
print("count of even numbers",len(even_numbers))
print("odd numbers : ", odd_numbers)
print("count of odd numbers: ",len(odd_numbers))
print("prime numbers : ",prime_numbers)
print("count of prime numbers",len(prime_numbers))

list of random numbers: [221, 617, 757, 347, 117, 591, 296, 643, 390, 477, 900, 745, 425, 612, 395, 422, 722, 606, 565, 767, 600, 687, 553, 490, 107, 535, 371, 818, 111, 278, 469, 777, 197, 363, 740, 669, 390, 876, 791, 869, 801, 166, 122, 559, 510, 423, 770, 744, 603, 436, 802, 690, 771, 879, 642, 351, 767, 339, 835, 342, 858, 354, 874, 155, 853, 367, 306, 108, 125, 451, 482, 800, 631, 746, 121, 280, 631, 207, 883, 370, 652, 852, 271, 191, 402, 495, 332, 425, 273, 830, 136, 543, 299, 833, 878, 290, 272, 800, 189, 599]
even numbers : [296, 390, 900, 612, 422, 722, 606, 600, 490, 818, 278, 740, 390, 876, 166, 122, 510, 770, 744, 436, 802, 690, 642, 342, 858, 354, 874, 306, 108, 482, 800, 746, 280, 370, 652, 852, 402, 332, 830, 136, 878, 290, 272, 800]

TypeError: 'int' object is not callable

Consider the following two sets, A and B, represen∆üng scores of two teams in mul∆üple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following opera∆üons using set func∆üons:
i. Find the unique scores achieved by both teams (union of sets).
ii. Iden∆üfy the scores that are common to both teams (intersec∆üon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score ùëã (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [ ]:
A = {34,56,78,90}
B = {78,45,90,23}

union_marks = A.union(B)
print("union scores achieved by both teams :",union_marks)

common_marks = A.intersection(B)
print("common scores achieved by both teams",common_marks)

symmetric_marks = A.symmetric_difference(B)
print("scores symmetruc to each other ",symmetric_marks)

is_subset = A.issubset(B)
is_superset = B.issuperset(A)

print("team A's scores are a subset of team B",is_subset)
print("team B's scores are a superset of team A",is_superset)

W = int(input("Enter the score to remove from set A: "))

if W in A:
  A.remove(W)
  print("score",W,"removed from set A.",A)
else:
 print("score",W,"is not present in set A.")

union scores achieved by both teams : {34, 45, 78, 23, 56, 90}
common scores achieved by both teams {90, 78}
scores symmetruc to each other  {34, 45, 23, 56}
team A's scores are a subset of team B False
team B's scores are a superset of team A False
Enter the score to remove from set A: 34
score 34 removed from set A. {56, 90, 78}

Consider the following two sets, A and B, represen∆üng scores of two teams in mul∆üple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following opera∆üons using set func∆üons:
i. Find the unique scores achieved by both teams (union of sets).
ii. Iden∆üfy the scores that are common to both teams (intersec∆üon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score ùëã (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [ ]:
sample_dict = {
    "name": "cyrush",
    "age" : 20,
    "salary" : 800000,
    "city" : "Kathmandu"
}

sample_dict["location"] = sample_dict.pop("city")

print(sample_dict)

{'name': 'cyrush', 'age': 20, 'salary': 800000, 'location': 'Kathmandu'}